* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
}

.header {
  width: 200px;
  margin: 10px auto 10px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.date {
  width: 100%;
}

.container {
  width: 90%;
  margin: 10px auto;
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30px);
  grid-template-rows: 1fr;
  gap: 10px;
  justify-content: center;
}

.week {
  height: 70px;
  width: 30px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.day {
  height: 10px;
  width: 30px;
  border: 1px solid lightgray;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.lived {
  border: 0px;
  background-color: gray;
}

.birthday {
  background-color: darkred;
}

.day:hover {
  background-color: mediumpurple;
  /* ? For a better visualization. */
}

.tooltip {
  visibility: hidden;
  background-color: gray;
  color: #ffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  display: flex;
  width: 130px;
  bottom: 100%;
  left: 65%;
  margin-left: -65px;
  flex-direction: column;
}

.day:hover .tooltip {
  visibility: visible;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 40vh auto;
  padding: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.show-modal {
  display: block;
}

.modal-block {
  display: block;
}
